# ======================
# Node modules & package managers
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# ======================
# Expo-specific
# ======================
.expo/
.expo-shared/
web-build/
dist/
*.expo
*.turtle
*.log

# ======================
# System / OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Env files
# ======================
.env
.env.local
.env.*.local
